*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #84ba17;
    font-family: 'Arial', sans-serif;
    color: rgb(85, 165, 42);
  }
  #clock-container {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #7a142e;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(62, 67, 73, 0.5);
  }
  #clock {
    width: 180px;
    height: 180px;
    border: 10px solid #333;
    border-radius: 50%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }